@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Приветствие</h1>
    <div class="text-center">
        <br />
        @ViewBag.Greetings
        <br />
    </div>
    <hr />
    <div class="btn btn-link">
        @Html.ActionLink("Отправьте сообщение", "ContactForm")
    </div>

</div>

<div class="row">
    
</div>